argcomplete==3.1.2
atomicwrites==1.4.1
clip==0.2.0
colorama==0.4.6
compiler==0.2.0
funcsigs==1.0.2
importlib_metadata==6.8.0
more_itertools==10.1.0
numpy==1.26.1
openai==0.28.1
pandas==2.1.1
pathlib2==2.3.7.post1
pdf2image==1.16.3
python-dateutil
Pillow==10.0.1
PyPDF2==3.0.1
pytesseract==0.3.10
setuptools==67.8.0
six==1.16.0
torch==2.1.0
Twisted==23.8.0
zope.event==5.0
zope.interface==6.0